{% extends 'base.html' %}
{% block content %}
<h2>{{ course.name }}</h2>
<p>This course is titled {{ course.name }}.</p>
<h3>Enrolled students</h3>
<table class="pure-table pure-table-striped">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for student in course.students %}
        <tr>
            <td>{{ student.id }}</td>
            <td>
                <a href="{{ url_for('student_details', id=student.id) }}">{{ student.name }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}