{% extends 'base.html' %}
{% block content %}
<h2>Courses</h2>
<table class="pure-table pure-table-striped">
    <thead>
        <tr>
            <th>Course ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <td>{{ course.id }}</td>
            <td>
                <a href="{{ url_for('course_details', id=course.id) }}">{{ course.name }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}