{% extends 'base.html' %}
{% block content %}
<h2>Students</h2>
<table class="pure-table pure-table-striped">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>Phone number</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.id }}</td>
            <td>
                <a href="{{ url_for('student_details', id=student.id) }}">{{ student.name }}</a>
            <td>{{ student.contact_details.phone }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}